{{ content.top }}
<div class="container">
    <div class="row">
        <div class="col-md-9">{{ content.left }}</div>
        <div class="col-md-3">{{ content.right }}</div>
    </div>
</div>
{{ content.bottom }}
