{{ content.top }}
<div class="container margin-top-2">
    <div class="row">
        <div class="col-md-9">{{ content.left }}</div>
        <div class="col-md-3">{{ content.right }}</div>
    </div>
</div>
<div class="margin-bottom-n-45">
  {{ content.bottom }}
</div>
