/**
 * @file component.scss
 *   The reusable, modular parts of the design. They are the callouts, the
 *   sidebar sections, the product lists and so on.
 */

@import "vars";
@import "mixins";

.background-cover {
  background-size: cover;
  background-position: center center;
}

// Main Nav typography
.navbar .navbar-nav {
  li a,
  li a:hover,
  li a:active,
  li a:focus,
  li.active a {
    color: white;
    text-align: center;
  }
  li.active a,
  li.active a:hover,
  li a:active,
  li a:hover {
    background-color: transparent;
    color: white;
    font-weight: 700;
  }
}