/**
 * @file component.scss
 *   The reusable, modular parts of the design. They are the callouts, the
 *   sidebar sections, the product lists and so on.
 */

@import "vars";
@import "mixins";

.background-cover {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

// Main Nav typography
.navbar .navbar-nav {
  li a,
  li a:hover,
  li a:active,
  li a:focus,
  li.active a {
    color: white;
    text-align: center;
  }
  li.active a,
  li.active a:hover,
  li a:active,
  li a:hover {
    background-color: transparent;
    color: white;
    font-weight: 700;
  }
}
.page-node-type-landing-page .navbar {
  margin-bottom: 0;
}

// Default buttons.
.btn {
  text-transform: uppercase;
}
.btn-default {
  background-color: $gray-dark;
  color: white;
  &:hover,
  &:active {
    background-color: darken($gray-dark, 10%);
    color: white;
  }
}
.btn-info {
  background-color: $base-1;
  &:hover {
    background-color: darken($base-1, 5%);
  }
}

// Make jumbotrons more jumbo
.jumbotron {
  background-color: transparent;
  margin-bottom: 0;
  padding-top: 96px;
  padding-bottom: 96px;
  @media (min-width: 768px) {
    h1 {
      font-size: 8rem;
    }
    h2 {
      font-size: 6.2rem;
      text-transform: uppercase;
    }
  }
}

// Landing page columns. These are the columns of rich text or user reference
// that appear below landing page main content.
.lp-columns {
  padding-top: 48px;
  .flex-item {
    &:first-child {
      strong {
        color: $highlight-3;
      }
    }
    &:nth-child(2) {
      strong {
        color: $highlight-2;
      }
    }
    &:nth-child(3) {
      strong {
        color: $base-1;
      }
    }
    &:nth-child(4) {
      strong {
        color: $highlight-1;
      }
    }
  }
  img {
    margin-left: auto;
    margin-right: auto;
  }
}

// Children of bg-rainbow have different background colors
.bg-rainbow {
  .bg-rainbow--item {
    background-color: $highlight-3;
    &:nth-child(2) {
        background-color: $highlight-2;
    }
    &:nth-child(3) {
      background-color: $base-1;
    }
    &:nth-child(4) {
      background-color: $highlight-1;
    }
  }
}

// Full-bleed side-by-side elements with lots of padding
.twins {
  @media (min-width: 1024px) {
    display: flex;
  }
  .twins--twin {
    @media (min-width: 1024px) {
      flex: 50;
      &:first-child {
        padding-left: 144px;
      }
      &:last-child {
        padding-right: 144px;
      }
    }
  }
}

// cardotrons are mini jumbotron panels
.cardotron {
  padding: 144px 48px;
  h2 {
    font-size: 5.4rem;
  }
  p {
    font-size: 2rem;
  }
}

// Training program kludges
.training-program--trainer {
  img {
    margin-left: auto;
    margin-right: auto;
  }
}

// Kludge for bootstrap's competing img-responsive class and media component
.media {
  margin-bottom: 48px;
}
.media-object {
  width: 300px;
}