/**
 * @file layour.scss
 *   Divides the page into sections. Layouts hold one or more modules together.
 */

@import "vars";
@import "mixins";

.image-inline {
  height: auto;
  max-width: 100%;
  &.image-inline_small_left,
  &.image-inline_small_right {
    clear: both;
    width: 100%;
    @media (min-width: 768px) {
      clear: none;
      width: 30%;
    }
    @media (min-width: 992px) {
      width: 20%;
    }
  }
  &.image-inline_medium_left,
  &.image-inline_medium_right {
    clear: both;
    width: 100%;
    @media (min-width: 768px) {
      clear: none;
      width: 40%;
    }
    @media (min-width: 992px) {
      width: 48%;
    }
  }
  @media (min-width: 768px) {
    &.image-inline_small_left,
    &.image-inline_media_left {
      float: left;
      padding-right: 15px;
    }
    &.image-inline_small_right,
    &.image-inline_medium_right {
      float: right;
      padding-left: 15px;
    }
  }
}

// Helpful when you want the constraint of a container, but not the forced width
.max-width-lg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}

// Panels aren't necessarily in rows like they should be so we add some padding
// to the bottom of each for our main pakemon views. Each panel is contained
// within its own div, so we need to use :last-child to override styles from
// bootstrap.
article.panel:last-child {
  margin-bottom: 30px;
}

// Basic support for flexbox
.flex-container {
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  @media (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

// Basic flexbox support
.flex-item {
  flex: 1;
  margin-left: 15px;
  margin-right: 15px;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

// Center the main nav
@media (min-width: 768px) {
  .navbar-header { float: none; }
  .navbar .navbar-nav {
    display: flex;
    flex-flow: row wrap;
    float: none;
    vertical-align: top;
    width: 100%;
    li {
      flex: 1;
      float: none;
      white-space: nowrap;
    }
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
}