/**
 * @file theme.scss
 *   Theme rules are similar to state rules in that they describe how modules
 *   or layouts might look. Most sites don’t require a layer of theming but it
 *   is good to be aware of it.
 */

@import "vars";
@import "mixins";

/**
 * Overrides
 */
.flag:hover {
  border: 1px solid transparent; // Flag sets this to 0 which BS doesn't like.
}

// Header
.navbar-header {
  background-image: url(../images/master_header_bg_repeat_148x243.jpg);
  background-position: center bottom;
  background-repeat: repeat-x;
}

// Some quick and dirty styles for articles
.node--type-article.node--view-mode-full {
  .media-object {
    margin-top: ($spacer * 2);
    margin-bottom: ($spacer * 2);
    width: auto;
  }
}
