/**
 * @file component.scss
 *   The reusable, modular parts of the design. They are the callouts, the
 *   sidebar sections, the product lists and so on.
 */
/**
 * Columns
 */
/* line 10, ../sass/component.scss */
.background-cover {
  background-size: cover;
  background-position: center center;
}

/* line 17, ../sass/component.scss */
.navbar .navbar-nav li a,
.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a:active,
.navbar .navbar-nav li a:focus,
.navbar .navbar-nav li.active a {
  color: white;
  text-align: center;
}
/* line 25, ../sass/component.scss */
.navbar .navbar-nav li.active a,
.navbar .navbar-nav li.active a:hover,
.navbar .navbar-nav li a:active,
.navbar .navbar-nav li a:hover {
  background-color: transparent;
  color: white;
  font-weight: 700;
}

/* line 36, ../sass/component.scss */
.btn {
  text-transform: uppercase;
}

/* line 39, ../sass/component.scss */
.btn-default {
  background-color: #232323;
  color: white;
}
/* line 42, ../sass/component.scss */
.btn-default:hover, .btn-default:active {
  background-color: #0a0a0a;
}

/* line 47, ../sass/component.scss */
.btn-info {
  background-color: #00aef0;
}
/* line 49, ../sass/component.scss */
.btn-info:hover {
  background-color: #009cd7;
}
