/**
 * @file component.scss
 *   The reusable, modular parts of the design. They are the callouts, the
 *   sidebar sections, the product lists and so on.
 */
/**
 * Columns
 */
/* line 10, ../sass/component.scss */
.background-cover {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/* line 18, ../sass/component.scss */
.navbar .navbar-nav li a,
.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a:active,
.navbar .navbar-nav li a:focus,
.navbar .navbar-nav li.active a {
  color: white;
  text-align: center;
}
/* line 26, ../sass/component.scss */
.navbar .navbar-nav li.active a,
.navbar .navbar-nav li.active a:hover,
.navbar .navbar-nav li a:active,
.navbar .navbar-nav li a:hover {
  background-color: transparent;
  color: white;
  font-weight: 700;
}

/* line 35, ../sass/component.scss */
.page-node-type-landing-page .navbar {
  margin-bottom: 0;
}

/* line 40, ../sass/component.scss */
.btn {
  text-transform: uppercase;
}

/* line 43, ../sass/component.scss */
.btn-default {
  background-color: #232323;
  color: white;
}
/* line 46, ../sass/component.scss */
.btn-default:hover, .btn-default:active {
  background-color: #0a0a0a;
  color: white;
}

/* line 52, ../sass/component.scss */
.btn-info {
  background-color: #00aef0;
}
/* line 54, ../sass/component.scss */
.btn-info:hover {
  background-color: #009cd7;
}

/* line 60, ../sass/component.scss */
.jumbotron {
  background-color: transparent;
  margin-bottom: 0;
  padding-top: 96px;
  padding-bottom: 96px;
}
@media (min-width: 768px) {
  /* line 66, ../sass/component.scss */
  .jumbotron h1 {
    font-size: 8rem;
  }
  /* line 69, ../sass/component.scss */
  .jumbotron h2 {
    font-size: 6.2rem;
    text-transform: uppercase;
  }
}

/* line 78, ../sass/component.scss */
.lp-columns {
  padding-top: 48px;
}
/* line 82, ../sass/component.scss */
.lp-columns .flex-item:first-child strong {
  color: #89c95b;
}
/* line 87, ../sass/component.scss */
.lp-columns .flex-item:nth-child(2) strong {
  color: #f8921e;
}
/* line 92, ../sass/component.scss */
.lp-columns .flex-item:nth-child(3) strong {
  color: #00aef0;
}
/* line 97, ../sass/component.scss */
.lp-columns .flex-item:nth-child(4) strong {
  color: #ffcc05;
}
/* line 102, ../sass/component.scss */
.lp-columns img {
  margin-left: auto;
  margin-right: auto;
}

/* line 110, ../sass/component.scss */
.bg-rainbow .bg-rainbow--item {
  background-color: #89c95b;
}
/* line 112, ../sass/component.scss */
.bg-rainbow .bg-rainbow--item:nth-child(2) {
  background-color: #f8921e;
}
/* line 115, ../sass/component.scss */
.bg-rainbow .bg-rainbow--item:nth-child(3) {
  background-color: #00aef0;
}
/* line 118, ../sass/component.scss */
.bg-rainbow .bg-rainbow--item:nth-child(4) {
  background-color: #ffcc05;
}

@media (min-width: 1024px) {
  /* line 125, ../sass/component.scss */
  .twins {
    display: flex;
  }
}
@media (min-width: 1024px) {
  /* line 129, ../sass/component.scss */
  .twins .twins--twin {
    flex: 50;
  }
  /* line 132, ../sass/component.scss */
  .twins .twins--twin:first-child {
    padding-left: 144px;
  }
  /* line 135, ../sass/component.scss */
  .twins .twins--twin:last-child {
    padding-right: 144px;
  }
}

/* line 143, ../sass/component.scss */
.cardotron {
  padding: 144px 48px;
}
/* line 145, ../sass/component.scss */
.cardotron h2 {
  font-size: 5.4rem;
}
/* line 148, ../sass/component.scss */
.cardotron p {
  font-size: 2rem;
}

/* line 155, ../sass/component.scss */
.training-program--trainer img {
  margin-left: auto;
  margin-right: auto;
}

/* line 162, ../sass/component.scss */
.media {
  margin-bottom: 48px;
}

/* line 165, ../sass/component.scss */
.media-object {
  width: 300px;
}
