/**
 * @file layour.scss
 *   Divides the page into sections. Layouts hold one or more modules together.
 */
/**
 * Columns
 */
/* line 9, ../sass/layout.scss */
.image-inline {
  height: auto;
  max-width: 100%;
}
/* line 12, ../sass/layout.scss */
.image-inline.image-inline_small_left, .image-inline.image-inline_small_right {
  clear: both;
  width: 100%;
}
@media (min-width: 768px) {
  /* line 12, ../sass/layout.scss */
  .image-inline.image-inline_small_left, .image-inline.image-inline_small_right {
    clear: none;
    width: 30%;
  }
}
@media (min-width: 992px) {
  /* line 12, ../sass/layout.scss */
  .image-inline.image-inline_small_left, .image-inline.image-inline_small_right {
    width: 20%;
  }
}
/* line 24, ../sass/layout.scss */
.image-inline.image-inline_medium_left, .image-inline.image-inline_medium_right {
  clear: both;
  width: 100%;
}
@media (min-width: 768px) {
  /* line 24, ../sass/layout.scss */
  .image-inline.image-inline_medium_left, .image-inline.image-inline_medium_right {
    clear: none;
    width: 40%;
  }
}
@media (min-width: 992px) {
  /* line 24, ../sass/layout.scss */
  .image-inline.image-inline_medium_left, .image-inline.image-inline_medium_right {
    width: 48%;
  }
}
@media (min-width: 768px) {
  /* line 37, ../sass/layout.scss */
  .image-inline.image-inline_small_left, .image-inline.image-inline_media_left {
    float: left;
    padding-right: 15px;
  }
  /* line 42, ../sass/layout.scss */
  .image-inline.image-inline_small_right, .image-inline.image-inline_medium_right {
    float: right;
    padding-left: 15px;
  }
}

/* line 51, ../sass/layout.scss */
.max-width-lg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}

/* line 62, ../sass/layout.scss */
article.panel:last-child {
  margin-bottom: 30px;
}

/* line 67, ../sass/layout.scss */
.flex-container {
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
@media (min-width: 1200px) {
  /* line 67, ../sass/layout.scss */
  .flex-container {
    flex-wrap: nowrap;
  }
}

/* line 77, ../sass/layout.scss */
.flex-item {
  flex: 1;
  margin-left: 15px;
  margin-right: 15px;
}
/* line 81, ../sass/layout.scss */
.flex-item:first-child {
  margin-left: 0;
}
/* line 84, ../sass/layout.scss */
.flex-item:last-child {
  margin-right: 0;
}

@media (min-width: 768px) {
  /* line 91, ../sass/layout.scss */
  .navbar-header {
    float: none;
  }

  /* line 92, ../sass/layout.scss */
  .navbar .navbar-nav {
    display: flex;
    flex-flow: row wrap;
    float: none;
    vertical-align: top;
    width: 100%;
  }
  /* line 98, ../sass/layout.scss */
  .navbar .navbar-nav li {
    flex: 1;
    float: none;
    white-space: nowrap;
  }

  /* line 104, ../sass/layout.scss */
  .navbar .navbar-collapse {
    text-align: center;
  }
}
/* line 110, ../sass/layout.scss */
.margin-top-1 {
  margin-top: 15px;
}

/* line 111, ../sass/layout.scss */
.margin-top-2 {
  margin-top: 30px;
}

/* line 112, ../sass/layout.scss */
.margin-top-3 {
  margin-top: 45px;
}

/* line 113, ../sass/layout.scss */
.margin-top-4 {
  margin-top: 60px;
}

/* line 115, ../sass/layout.scss */
.margin-bottom-1 {
  margin-bottom: 15px;
}

/* line 116, ../sass/layout.scss */
.margin-bottom-2 {
  margin-bottom: 30px;
}

/* line 117, ../sass/layout.scss */
.margin-bottom-3 {
  margin-bottom: 45px;
}

/* line 118, ../sass/layout.scss */
.margin-bottom-4 {
  margin-bottom: 60px;
}

/* line 120, ../sass/layout.scss */
.margin-bottom-n-45 {
  margin-bottom: -45px;
}
