/**
 * @file layour.scss
 *   Divides the page into sections. Layouts hold one or more modules together.
 */
/**
 * Columns
 */
/* line 9, ../sass/layout.scss */
.image-inline {
  height: auto;
  max-width: 100%;
}
/* line 12, ../sass/layout.scss */
.image-inline.image-inline_small_left, .image-inline.image-inline_small_right {
  clear: both;
  width: 100%;
}
@media (min-width: 768px) {
  /* line 12, ../sass/layout.scss */
  .image-inline.image-inline_small_left, .image-inline.image-inline_small_right {
    clear: none;
    width: 30%;
  }
}
@media (min-width: 992px) {
  /* line 12, ../sass/layout.scss */
  .image-inline.image-inline_small_left, .image-inline.image-inline_small_right {
    width: 20%;
  }
}
/* line 24, ../sass/layout.scss */
.image-inline.image-inline_medium_left, .image-inline.image-inline_medium_right {
  clear: both;
  width: 100%;
}
@media (min-width: 768px) {
  /* line 24, ../sass/layout.scss */
  .image-inline.image-inline_medium_left, .image-inline.image-inline_medium_right {
    clear: none;
    width: 40%;
  }
}
@media (min-width: 992px) {
  /* line 24, ../sass/layout.scss */
  .image-inline.image-inline_medium_left, .image-inline.image-inline_medium_right {
    width: 48%;
  }
}
@media (min-width: 768px) {
  /* line 37, ../sass/layout.scss */
  .image-inline.image-inline_small_left, .image-inline.image-inline_media_left {
    float: left;
    padding-right: 15px;
  }
  /* line 42, ../sass/layout.scss */
  .image-inline.image-inline_small_right, .image-inline.image-inline_medium_right {
    float: right;
    padding-left: 15px;
  }
}

/* line 54, ../sass/layout.scss */
article.panel:last-child {
  margin-bottom: 30px;
}

/* line 59, ../sass/layout.scss */
.flex-container {
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
@media (min-width: 1200px) {
  /* line 59, ../sass/layout.scss */
  .flex-container {
    flex-wrap: nowrap;
  }
}

/* line 69, ../sass/layout.scss */
.flex-item {
  flex: 1;
  margin-left: 15px;
  margin-right: 15px;
}
/* line 73, ../sass/layout.scss */
.flex-item:first-child {
  margin-left: 0;
}
/* line 76, ../sass/layout.scss */
.flex-item:last-child {
  margin-right: 0;
}

@media (min-width: 768px) {
  /* line 83, ../sass/layout.scss */
  .navbar-header {
    float: none;
  }

  /* line 84, ../sass/layout.scss */
  .navbar .navbar-nav {
    display: flex;
    flex-flow: row wrap;
    float: none;
    vertical-align: top;
    width: 100%;
  }
  /* line 90, ../sass/layout.scss */
  .navbar .navbar-nav li {
    flex: 1;
    float: none;
    white-space: nowrap;
  }

  /* line 96, ../sass/layout.scss */
  .navbar .navbar-collapse {
    text-align: center;
  }
}
